[submodule "neighborhood"]
	path = neighborhood
	url = /home/luca/github/neighborhood/
[submodule "identities"]
	path = identities
	url = /home/luca/github/identities/
[submodule "qspn"]
	path = qspn
	url = /home/luca/github/qspn/
